@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a{
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main{
        flex: 0;
        align-items: center;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
    }

    #page-create-point .field-group{
        flex-direction: column;
    }
    #page-create-point .field-group .field + .field{
        margin-left: 0;
    }

    #page-create-point .items-grid{
        grid-template-columns: repeat(2, 1fr);
    }
} 

@media (max-width: 425px){
    #page-create-point .items-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1700px ){
    #page-home{
        height: 70vh;
        background-position-x: 45vw;
    }
}

@media (max-height: 1200px ){
    #page-home{
        background-position-y: 200px;
    }
}